# ==================================
# Global ignores
.DS_Store
node_modules/
.env
*.env
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.vscode/
.idea/
*.bak

# ==================================
# React Frontend (front-end/)
front-end/node_modules/
front-end/build/
front-end/.next/
front-end/.turbo/

# ==================================
# Golang Backend (back-end/)
back-end/bin/
back-end/obj/
back-end/.env
back-end/go.sum
back-end/vendor/

# ==================================
# ML Python (ml/)
ml/__pycache__/
ml/.ipynb_checkpoints/
ml/venv/
ml/.env
ml/model.pkl
ml/*.h5
ml/*.joblib
ml/*.pkl
